import { Params, StructuredRequestBody } from 'k6/http';
import { HTTPMethod } from '../../enums/HTTPMethod';
import pathToUrl from '{{ pathToUrl }}';
import { injectParamsToPath } from '../utils/injectPathParams'
import { injectQueryObject } from '../utils/injectQueryObject'
{% set interfaces = importInterfaces(operations) %}
import {
  {% for interface in interfaces -%}{{ interface }},
  {%- endfor %}
} from '../interfaces';

export const baseUrl = '{{ basePath }}';

{% for op in operations -%}
{% for method, path in op.path -%}
{% if isValidMethod(method)%}
/**
 * Operation ID: loginEmailPost
 * Summary: Login
 * Description: Log a user into the system
 */
export const {{ path.operationId }}BatchRequest = {
  url: pathToUrl(baseUrl + '{{ op.path_name  }}'),
  method: HTTPMethod.{{ method | lower }},
  body: {},
  params: {}
}

export const {{ path.operationId }} = ({{ pathParamsToDomainParams(method, path, true) }} additionalParams?: Params): [string, string, StructuredRequestBody, Params] => {
  return {
    url: injectQueryObject (
        {% if path['x-request-definitions'].query %}query {% else %}{}{% endif %},
        injectParamsToPath (
          {% if path['x-request-definitions'].path %}pathParams {% else %}{}{% endif %},
          {{ path.operationId }}BatchRequest.url
        )
    ),
    method: {{ path.operationId }}BatchRequest.method,
    body: {% if path['x-request-definitions'].body %}body{% else %}{{ path.operationId }}BatchRequest.body{% endif %} as unknown as StructuredRequestBody,
    params: additionalParams || {{ path.operationId }}BatchRequest.params,
  };
};

{% endif %}
{%- endfor %}
{%- endfor %}